.overflow-x {
  overflow-x: scroll !important;
}

.pl-red::placeholder,
.pl-red:-ms-input-placeholder,
.pl-red::-ms-input-placeholder {
  color: red !important;
  opacity: 1;
}
/* .user {
  width: 20px;
  height: 24px;
  background-image: url(../admin/img/avatar/avatar-2.svg);
} */
