<!-- produk cart -->
<div th:fragment="cards">
    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-sm-2 py-3">
            <div th:each="product : ${products}" class="card wow fadeInUp" style="width: 18rem;">
                <!-- image -->
                <img th:src="@{/assets/img/blog/blog-1.jpg}" class="card-img-top" alt="Foto Produk">

                <!-- card body -->
                <div class="card-body">
                    <!-- title -->
                    <h5 class="card-title">
                        <a th:href="@{'/kopmart/produk/details/' + ${product.id}}" th:text="${product.name}"></a>
                    </h5>
                    <!-- category -->
                    <small>Kategori : <a th:text="${product.categoryId.name}"></a></small>
                    <!-- description -->
                    <p class="card-text" th:text="${product.simpleDesc}">Simple Desc</p>
                    <!-- button -->
                    <a href="#" class="btn btn-primary">Tambahkan</a>
                    <!-- harga -->
                    Rp. <span th:text="${product.harga}"></span>
                </div>
            </div>
        </div>

        <!-- column -->
        <!-- <div class="col-sm-4 py-3 hy-auto" th:each="product : ${products}">
            <div class="card-blog wow fadeInUp">
                <div class="header">
                    <div class="post-thumb">
                        <img th:src="@{/assets/img/blog/blog-1.jpg}" alt="Foto Produk">
                    </div>
                </div>

                <div class="body">
                    <h5 class="post-title">
                        <a href="blog-details.html" th:text="${product.name}">Nama Produk</a>
                    </h5>


                    <div class="post-date">
                        <p th:text="${product.simpleDesc}"></p>
                        Posted on <a href="#">27 Jan 2020</a>
                    </div>
                    <button class="btn btn-primary">Tambahkan</button>
                </div>

            </div>
        </div> -->
    </div>
</div>

<!-- produk details -->
<div th:fragment="details">
    <img th:src="" alt="">
</div>