<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/basic :: head}">
</head>

<body>
    <div th:replace="~{fragments/basic :: header}"></div>
    <div class="container">
        <div th:replace="~{fragments/basic :: banner('Keranjang')}"></div>


        <!-- start card -->
        <!-- <div th:each="product : ${listProducts}">
            <div th:replace="~{fragments/cart :: cartCard(${product})}"></div>
        </div> -->
        <div th:replace="fragments/cart :: cartTable(${listProducts})"></div>
    </div>

    <!-- js -->
    <div th:replace="~{fragments/basic :: js}"></div>
</body>

</html>