<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/basic::head}">
</head>

<body>
    <!-- header -->
    <div th:replace="~{fragments/basic::header}"></div>

    <!-- content -->
    <div class="container">
        <!-- banner -->
        <div th:replace="~{fragments/basic::banner('Details')}"></div>

        <!-- details -->
        <div th:replace="~{fragments/produk :: details(${product})}"></div>
    </div>

    <!-- footer -->
    <div th:replace="~{fragments/basic::footer}"></div>

    <!-- js -->
    <div th:replace="~{fragments/basic::js}"></div>
</body>

</html>