<!DOCTYPE html>
<html>

<head th:replace="~{fragments/basic::head}">
</head>

<body>
    <!-- header -->
    <div th:replace="~{fragments/basic::header}"></div>

    <!-- home banner -->
    <div th:replace="~{fragments/basic::homeBanner}"></div>


    <!-- content -->
    <div class="page-section">
        <!-- category -->
        <div class="container">
            <div th:replace="~{fragments/home::cards}"></div>
        </div>
    </div>


    <!-- start some categories product -->
    <div class="page-section" th:each="category, status : ${usedCategories}" th:class="${status.odd} ? 'bg-light' : ''">
        <!-- used categories -->
        <div class="container">
            <!-- start category card -->
            <div class="text-center wow fadeInUp">
                <img th:src="@{/assets/img/services/service-1.svg}" alt="Foto kategori"
                    class="mt-5 shadow rounded-pill">
                <h1 th:text="${category.name}" class="display-3 py-4"></h1>
                <hr class="col-sm-6 mx-auto">



                <!-- category properties -->
                <h3 class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa at
                    corrupti dolores,
                    voluptatibus
                    maxime quos illo hic molestiae. Veniam corrupti magni libero beatae inventore corporis sunt minus
                    eveniet distinctio architecto. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae est
                    voluptatum repellendus animi. Fugit debitis repellendus, tempora libero sunt, eius error iusto alias
                    molestias, quam rerum culpa quia perspiciatis voluptate?</h3>
                <br><br><br><br>
            </div>
            <!-- end category card -->

        </div>

        <!-- products -->
        <div class="container-fluid">
            <div class="row d-flex  justify-content-evenly ">
                <!-- start products cards -->
                <div th:each="product : ${productService.findByCategoryId(category.id)}" class="card-inline   m-3 p-0 ">
                    <!-- <div th:replace="~{fragments/produk::card(${product})}"></div> -->
                    <div th:if="${product != null}">
                        <!-- card product -->
                        <div th:replace="fragments/produk::card(${product})"></div>
                    </div>
                </div>
                <!-- start products cards -->
            </div>
        </div>

        <br><br><br>
        <!-- end products cards -->

    </div>
    <!-- end some categories product -->


    <!-- footer -->
    <div th:replace="~{fragments/basic::footer}"></div>

    <!-- js -->
    <div th:replace="fragments/basic::js"></div>
</body>

</html>