<!DOCTYPE html>
<html>

<head th:replace="~{fragments/basic::head}">
</head>

<body>
    <!-- header -->
    <div th:replace="~{fragments/basic::header}"></div>

    <!-- home banner -->
    <div th:replace="~{fragments/basic::homeBanner}"></div>


    <!-- content -->
    <div class="page-section">
        <!-- category -->
        <div class="container">
            <div th:replace="~{fragments/home::cards}"></div>
        </div>
    </div>


    <!-- others -->
    <div class="page-section" th:each="category, status : ${categories}" th:class="${status.odd} ? 'bg-light' : ''">
        <div class="container">
            <div class="text-center wow fadeInUp">
                <img th:src="@{/assets/img/services/service-1.svg}" alt="Foto kategori"
                    class="mt-5 shadow rounded-pill">
                <h1 th:text="${category.name}" class="display-3 py-4"></h1>
                <hr class="col-sm-6 mx-auto">
            </div>
        </div>
    </div>

    <!-- js -->
    <div th:replace="fragments/basic::js"></div>
</body>

</html>