<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/login ::  head}">
</head>

<body>

    <!-- start content -->
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100  shadow-lg wow fadeInUp">
                <div class="login100-pic js-tilt" data-tilt>
                    <img th:src="@{/style/images/img-01.png}" alt="IMG">
                </div>

                <!-- start form  -->
                <form class="login100-form validate-form " method="post" th:action="@{/kopmart/user/login}">
                    <!-- login title -->
                    <span class="login100-form-title">
                        <div class="mb-3">
                            Masuk
                        </div>
                        K O P
                        <span class="text-primary">M</span>
                        <span class="text-success">A</span>
                        <span class="text-warning">R</span>
                        <span class="text-danger">T</span>
                    </span>

                    <!-- username -->
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100 shadow wow fadeInUp" type="text" name="username" placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <!-- password -->
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100 shadow wow fadeInUp" type="password" name="password"
                            placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn row">
                        <button class="login100-form-btn shadow ms-4" type="submit">
                            Masuk
                        </button>
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">
                            Lupa
                        </span>
                        <a class="txt2" href="#">
                            Username / Password?
                        </a>
                    </div>

                    <div th:text="${#error}"></div>

                    <div class="text-center p-t-136">
                        <a th:href="@{/kopmart/}" class="txt2">
                            <i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
                            Beranda</a>
                        <a class="txt2" th:href="@{${registerUrl}}">
                            Buat akun
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
                <!-- end form  -->
            </div>
        </div>
    </div>

    <!-- end content -->

    <!-- js -->
    <div th:replace="~{fragments/login :: js}"></div>
</body>

</html>