<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/basic::head}">
</head>

<body>
    <!-- header -->
    <div th:replace="~{fragments/basic::header}"></div>

    <!-- content -->
    <div class="container">
        <!-- banner -->
        <div th:replace="~{fragments/basic::banner('produk')}"></div>
    </div>

    <!-- fluid content -->
    <div class="container-fluid">
        <!-- search produk -->
        <form th:action="@{ ${searchActionurl} }" method="post" class="form-search-blog col-sm-10 mx-auto ">
            <div class="input-group ">
                <div class="input-group-prepend">

                    <select id="categories" class="custom-select bg-light" style="height: 38px;" name="categoryId">
                        <option>All Categories</option>
                        <option th:each="category : ${categories}" th:value="${category.id}"
                            th:selected="${category.id == categoryValueId}">
                            <span th:text="${category.name}"></span>
                        </option>
                    </select>

                </div>
                <input type="text" name="keyword" class="form-control" placeholder="Masukan keyword.."
                    th:value="${keyword != null} ? ${keyword}">
                <button type="submit" class="btn btn-primary" style="height: 38px;">Cari</button>
            </div>
        </form>
        <!-- end search -->
        <br>

        <!-- produk -->
        <div th:replace="~{fragments/produk::cards}"></div>

    </div>

    <!-- js -->
    <div th:replace="fragments/basic::js"></div>
</body>

</html>