<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/login ::  head}">
</head>

<body>

    <!-- start content -->
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100  py-5 shadow-lg wow fadeInUp">

                <!-- kopmart logo -->
                <div class="login100-pic pt-5 mt-5 js-tilt" data-tilt>
                    <img th:src="@{/style/images/img-01.png}" alt="IMG">
                </div>

                <!-- start form  -->
                <form class="login100-form validate-form" method="post" th:action="@{/kopmart/user/register}">
                    <!-- login title -->
                    <span class="login100-form-title">
                        <div class="mb-3">
                            Daftar Member
                        </div>
                        K O P
                        <span class="text-primary">M</span>
                        <span class="text-success">A</span>
                        <span class="text-warning">R</span>
                        <span class="text-danger">T</span>
                    </span>
                    <!-- end login title -->

                    <!-- npm -->
                    <div class="wrap-input100 validate-input" data-validate="NPM yang di inginkan misal : 1412xxxxxx">
                        <input type="number" min="0" name="npm" class="input100 shadow wow fadeInUp" minlength="10"
                            required placeholder="NPM">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-address-card" aria-hidden="true"></i>
                        </span>
                    </div>

                    <!-- nama -->
                    <div class="wrap-input100 validate-input" data-validate="Masukan nama anda">
                        <input type="text" name="nama" class="input100 shadow wow fadeInUp" placeholder="Nama mahasiswa"
                            required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>

                    <!-- email as username -->
                    <div class="wrap-input100 validate-input"
                        data-validate="Contoh email yang harus dimasukan: ex@abc.xyz">
                        <input class="input100 shadow wow fadeInUp" type="text" required name="email"
                            placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <!-- password -->
                    <div class="wrap-input100 validate-input" data-validate="Password wajib dimasukan">
                        <input class="input100 shadow wow fadeInUp" type="password" name="password"
                            placeholder="Password" required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <!-- no telegram -->
                    <div class="wrap-input100 validate-input" data-validate="Nomor telegram harus berupa angka">
                        <input type="number" name="noTelegram" class="input100 shadow wow fadeInUp" required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-telegram"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="container row">
                            <button class="login100-form-btn col-6 shadow" type="submit">
                                Daftar
                            </button>
                            <a th:href="@{/kopmart/login}" class="login100-form-btn text-decoration-none col-6 shadow"
                                type="button">Kembali</a>
                        </div>
                    </div>

                </form>
                <!-- end form  -->
            </div>
        </div>
    </div>

    <!-- end content -->

    <!-- js -->
    <div th:replace="~{fragments/login :: js}"></div>
</body>

</html>