<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin/fragments/basic::head}">
</head>

<body>
    <!-- layer -->
    <div class="layer"></div>

    <!-- content -->
    <div class="page-flex">
        <!-- sidebar -->
        <div th:replace="~{admin/fragments/basic::sidebar}"></div>

        <!-- main content -->
        <div class="main-wrapper">
            <!-- navbar -->
            <div th:replace="~{admin/fragments/comp::navbar}"></div>

            <!-- container -->
            <div class="container">
                <br><br><br>
                <div class="card shadow col-sm-8 mx-auto " style="border-radius: 10px;">
                    <div class="card-body">

                        <table class="table table-striped">
                            <thead class="thead-inverse">
                                <tr class="text-start">
                                    <th>NO</th>
                                    <th>NAMA</th>
                                    <th>DESKRIPSI</th>
                                    <th>AKSI</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr th:each="category, value : ${listCategory}">
                                    <td th:text="${value.index + 1}"></td>
                                    <td th:text="${category.name}"></td>
                                    <td th:text="${category.description}"></td>
                                    <td class="row">
                                        <form th:action="@{/kopmart/admin/kategori/edit}" method="post" class="mx-3">
                                            <input type="text" hidden th:value="${category.id}" readonly required>
                                            <button type="submit" class="btn btn-primary">Edit</button>
                                        </form>

                                        <form th:action="@{/kopmart/admin/kategori/delete}" method="post">
                                            <input type="text" hidden th:value="${category.id}" readonly required>
                                            <button type="submit" class="btn btn-outline-primary">Del</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>

        </div>


    </div>

    <!-- js -->
    <div th:replace="~{admin/fragments/basic::js}"></div>
</body>

</html>