<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin/fragments/basic::head}">
</head>

<body>
    <!-- layer -->
    <div class="layer"></div>

    <!-- content -->
    <div class="page-flex">
        <!-- sidebar -->
        <div th:replace="~{admin/fragments/basic::sidebar}"></div>

        <!-- main content -->
        <div class="main-wrapper">
            <!-- navbar -->
            <div th:replace="~{admin/fragments/comp::navbar}"></div>

            <!-- container -->
            <div class="container">
                <br><br><br>
                <div class="card shadow  mx-auto " style="border-radius: 10px;">
                    <div class="card-body">
                        <!-- add button -->
                        <a th:href="@{'/kopmart/admin/produk/new'}"
                            class="btn btn-outline-primary text-capitalize mb-3 shadow" style="border: none;">Tambah</a>
                        <a th:href="@{'/kopmart/admin/produk/upload/csv'}"
                            class="btn btn-outline-primary mb-3 shadow text-capitalize" style="border: none;">upload
                            CSV</a>

                        <table class="table table-striped table-responsive">
                            <thead class="thead-inverse">
                                <tr class="text-start">
                                    <th>NO</th>
                                    <th>NAMA</th>
                                    <th>HARGA</th>
                                    <th>STOK</th>
                                    <!-- <th>FOTO URL</th> -->
                                    <th>KATEGORI</th>
                                    <th>DESKRIPSI SINGKAT</th>
                                    <!-- <th>DESKRIPSI LENGKAP</th> -->
                                    <th>AKSI</th>
                                </tr>
                            </thead>

                            <tbody>

                                <div th:if="${productPages != null}">
                                    <tr th:each="product, status : ${productPages.content}"
                                        class="text-capitalize text-start">
                                        <!-- no -->
                                        <td th:text="${status.index + 1}"></td>
                                        <!-- nama -->
                                        <td th:text="${product.name}"></td>
                                        <!-- harga -->
                                        <td th:text="${product.harga}"></td>
                                        <!-- stok -->
                                        <td th:text="${product.stok}"></td>
                                        <!-- fotoUrl -->
                                        <!-- <td th:text="${product.fotoUrl}"></td> -->
                                        <!-- category -->
                                        <td th:text="${product.categoryId.name}"></td>
                                        <!-- simple description -->
                                        <td th:text="${product.simpleDesc}"></td>
                                        <!-- full description -->
                                        <!-- <td th:text="${product.fullDesc}"></td> -->
                                        <!-- aksi -->
                                        <td class="row" style="margin-right: 5px;">
                                            <!-- edit button -->
                                            <a th:href="@{'/kopmart/admin/produk/edit/' + ${product.id}}"
                                                class="btn btn-outline-primary mx-auto shadow-sm"
                                                style="border: none;">Edit</a>

                                            <!-- delete button -->
                                            <form th:action="@{/kopmart/admin/produk/delete}" method="post">
                                                <input type="text" hidden th:value="${product.id}" readonly required
                                                    name="categoryId">
                                                <button type="submit" class="btn btn-outline-danger shadow-sm"
                                                    style="border: none;">Del</button>
                                            </form>
                                        </td>
                                    </tr>
                                </div>
                            </tbody>
                        </table>

                        <!-- pagination -->
                        <a th:if="${productPages.totalPages > 1}" th:each="pageNumber, status : ${productPageNumbers}">
                            <a th:text="${pageNumber}"
                                th:class="${pageNumber == (productPages.number + 1)} ? 'btn btn-outline-primary py-0 px-2 rounded rounded-pill' : ''"
                                th:href="@{/kopmart/admin/produk/list(
                                    requestPage = ${pageNumber - 1},
                                    requestData = ${productPages.size},
                                    requestSort = 'asc'
                                )}"></a>
                        </a>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <!-- js -->
    <div th:replace="~{admin/fragments/basic::js}"></div>
</body>

</html>